body {
  color: white;
  background-color: black;
}

canvas {
    background: #cdcdcd;
}

/* class controls.control_line */
.controls.control_line {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  padding: 5px;
  z-index: 100;
}